body{
  margin: 0;
  background-color: #e7feff;
}

.titleBox {

  background-image: url(../jpg/header.jpg);
  padding: 0 0 0 30px;

}

.title1 {
  margin: 0;
  text-align: left;
  font-family: Futura, Trebuchet MS;
  font-weight: bold;
  font-size: 45px;
  font-style: oblique;
  color: #0419FF;





}

.headerInterval {
  height: 30px; 
}


#inputSize {
  margin: 0 auto;
  width: 175px;
  padding: 8px;
  border: 1px solid blue;
  background-color: #97D9EF;
}

.buttonDiv {
  text-align: center;
  margin: 3px auto;
}

.txtSizeLabel {
  width: 96%;  
}


#game {
  margin: 0  0 0 40px;
  width: 700px;
}

#fieldGameBox {
  width: 600px;
  height: 600px;
  float: left;
}

#fieldGame {
  background: grey;
  margin: 0; 
  background-image: url(../jpg/wood-121.jpg);
  border-radius: 3px;
  position: relative;


}









.cell {
  position: absolute;
  background-color: #D7E2EE;
  margin: 0;
  box-shadow: 0.5px 0.5px 0px rgba(140, 12, 81, 1);
  display: table;
}

.p {
  /*margin: 0;*/
  text-align: center;
  font-family: Futura, Trebuchet MS;
  font-weight: bold;

  display: table-cell;
  vertical-align: middle;



}





/*
.field { 
  background: grey;
  width: 88%;
  height: 88%;
  max-width: 300px;
  max-height: 300px;
  min-width:  180px; 
  min-height:  180px;
  margin: 10% auto; 


}

.row {
  height: 25%;      
}

.cell { 
  border: solid 1px black; 
  width: 23%;
  height: 96%;
  margin-left: 2px;
  margin-top: 1px;
  float: left;
  text-align:center;
  background: red;
}

.hole { 
  border: solid 1px grey; 
  width: 23%;
  height: 96%;
  margin-left: 2px;
  margin-top: 1px;
  float: left;
  text-align:center;
  background: grey;
}

.text {
  text-align:  center;
  font-size: 230%; 
  font-family: Arial, sans-serif; 
  color: #333366;
  position: relative;
  top: 15%;
}

    
*/